    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <label class="logo">BlcokChain <span>Project</span></label>
            <span class="menu-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>   
    <mat-sidenav-container >
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.close()"> Add Details </a>
            <a mat-list-item (click)="sidenav.close()">See Patient details </a>
            <a mat-list-item (click)="login()" (click)="sidenav.close()" *ngIf="!auth.isLoggedIn()"> Login </a>
            <a mat-list-item (click)="logout()" (click)="sidenav.close()" *ngIf="auth.isLoggedIn()"> Logout </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>